# Formato simples e limpo
format = "$directory$git_branch$git_status$nodejs$php$character"

[directory]
style = "bold cyan"
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold red"

[nodejs]
symbol = "node "
style = "bold green"
format = "[$symbol($version )]($style)"

[php]
symbol = "php "
style = "bold blue"
format = "[$symbol($version )]($style)"

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"